Django==2.2.16
django-cors-headers==3.10.1
django-filter==21.1
djangorestframework==3.12.4
Markdown==3.3.6
djangorestframework-camel-case==1.2.0
requests==2.27.1
djangorestframework-simplejwt==5.0.0
mixer==7.2.0
drf_yasg==1.20.0
graphene-django==2.15.0